body{
    margin: auto;
}
h1{
    margin-top: 0%;
    color: white;
    text-align: center;
    background-image: url(download\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}
.SS ul{
    background-image: url(download\ \(2\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin:0px;
    list-style-type: none;
    overflow: hidden;
}
.SS a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
}
.SS a:hover{
    background-color: hsl(303, 35%, 20%);
}
.SS li{
    float: left;
}